Kivy[full] @ https://github.com/kivy/kivy/archive/stable.zip
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
buildozer @ https://github.com/kivy/buildozer/archive/master.zip
Cython==0.29.33
numpy