appdirs==1.4.4
buildozer @ https://github.com/kivy/buildozer/archive/master.zip
certifi @ file:///croot/certifi_1665076670883/work/certifi
charset-normalizer==2.1.1
colorama==0.4.6
Cython==0.29.33
distlib==0.3.6
docutils==0.19
et-xmlfile==1.1.0
filelock==3.9.0
idna==3.4
Jinja2==3.1.2
Kivy @ https://github.com/kivy/Kivy/archive/master.zip
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
MarkupSafe==2.1.2
numpy==1.23.5
openpyxl==3.0.10
packaging==23.0
pandas==1.5.2
pandas-stubs==1.5.2.221124
pep517==0.13.0
pexpect==4.8.0
Pillow==9.3.0
platformdirs==2.6.2
ptyprocess==0.7.0
Pygments==2.13.0
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.2
sh==1.14.3
six==1.16.0
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
types-pytz==2022.6.0.1
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.20.0
